workflows/examples/04_google_sheets_overdue_followup_stub.json
{
  "name": "04 - Google Sheets Overdue Follow-up Stub",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 9,
              "minute": 30
            }
          ]
        }
      },
      "id": "cron_4",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "source_note",
              "value": "Replace this node with Google Sheets read node"
            },
            {
              "name": "vendor_name",
              "value": "ABC Supplier Sdn Bhd"
            },
            {
              "name": "vendor_email",
              "value": "vendor@example.com"
            },
            {
              "name": "po_number",
              "value": "PO-2026-2041"
            },
            {
              "name": "invoice_number",
              "value": "INV-2204"
            },
            {
              "name": "due_date",
              "value": "2026-04-10"
            },
            {
              "name": "status",
              "value": "Pending"
            }
          ],
          "number": [
            {
              "name": "days_overdue",
              "value": 4
            }
          ]
        }
      },
      "id": "set_mock_sheet",
      "name": "Mock Google Sheets Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.days_overdue}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if_overdue",
      "name": "Is Overdue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "subject",
              "value": "={{`Follow-up: ${$json.po_number} is ${$json.days_overdue} day(s) overdue`}}"
            },
            {
              "name": "to",
              "value": "={{$json.vendor_email}}"
            },
            {
              "name": "message",
              "value": "={{`Dear ${$json.vendor_name},\n\nKind reminder from Procurement regarding PO ${$json.po_number} and invoice ${$json.invoice_number}.\nDue Date: ${$json.due_date}\nCurrent Status: ${$json.status}\nDays Overdue: ${$json.days_overdue}\n\nPlease share your latest update.\n\nThank you.`}}"
            },
            {
              "name": "next_step",
              "value": "Connect this node to Email Send or Telegram node"
            }
          ]
        }
      },
      "id": "set_followup_payload",
      "name": "Prepare Follow-up Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1080,
        240
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "skip_reason",
              "value": "Invoice is not overdue. No follow-up needed."
            }
          ]
        }
      },
      "id": "set_skip",
      "name": "Skip Non-Overdue",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1080,
        420
      ]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Mock Google Sheets Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Google Sheets Row": {
      "main": [
        [
          {
            "node": "Is Overdue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Overdue?": {
      "main": [
        [
          {
            "node": "Prepare Follow-up Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Non-Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "workflow_google_sheets_overdue_followup_stub"
}
